{% extends './base.html' %}
{% load static %}

{% block title %}Agregar Producto{% endblock %}


    {% block body %}

    <h1 class="mb-4">Agregar productos</h1>

    <div class="container">
        <form id="formularioAgregarProducto" action="/agregarProductoForm" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <label for="txtSku">SKU:</label>
                    <input name="txtSku" id="txtSku" type="text" class="form-control">
                </div>

                <div class="col-md-4">
                    <label for="txtNombre">Nombre:</label>
                    <input name="txtNombre" id="txtNombre" type="text" class="form-control">
                </div>

                <div class="col-md-4">
                    <label for="txtDescripcion">Descripción:</label>
                    <textarea name="txtDescripcion" id="txtDescripcion" type="text" class="form-control"></textarea>
                </div>

                <div class="col-md-2">
                    <label for="txtStock">Stock:</label>
                    <input name="txtStock" id="txtStock" type="text" class="form-control">
                </div>


                <div class="col-md-2">
                    <label for="txtPrecio">Precio:</label>
                    <input name="txtPrecio" id="txtPrecio" type="number" class="form-control">
                </div>


                <div class="col-md-2">
                    <label for="fechaVencimientoSel">Fecha de vencimiento:</label>
                    <input type="date" name="fechaVencimientoSel" id="fechaVencimientoSel" type="text" class="form-control">
                </div>


                <div class="col-md-2">
                    <label for="cmbCategoria">Categoria:</label>
                    <select name="cmbCategoria" id="cmbCategoria" class="form-select" aria-label="Default select example">
                        <option disabled selected>Seleccione</option>

                        {% for c in cate %}
                        <option value="{{c.categoria_id}}">{{c.nombre}}</option>
                        {% endfor %}
                      </select>  
                </div>


                <div class="col-md-4">
                    <label for="txtImg">Imagen URL:</label>
                    <input name="txtImg" id="txtImg" type="file" class="form-control">
                </div>
            </div>
            <button class="btn btn-success mt-5 w-30">Agregar Producto</button>
        </form>
    </div>


    <div class="container mt-5">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">SKU</th>
                <th scope="col">Imagen</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Stock</th>
                <th scope="col">Precio</th>
                <th scope="col">Fecha Vencimiento</th>
                <th scope="col">Categoria</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
                {% for p in prod %}
              <tr>
                <th scope="row">{{p.sku}}</th>
                <td><img src="{{p.image_url.url}}" alt="" height="100"></td>
                <td>{{p.nombre}}</td>
                <td>{{p.descripcion}}</td>
                <td>{{p.stock}}</td>
                <td>{{p.precio}}</td>
                <td>{{p.fecha_vencimiento}}</td>
                <td>{{p.categoria_id}}</td>
                <td class="d-flex">
                    <a href="/editarProducto/{{p.sku}}" class="btn btn-primary mx-2">Editar</a>
                    <a href="/eliminarProducto/{{p.sku}}" class="btn btn-danger mx-2 btnEliminar">Eliminar</a>
                </td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>


    
    
    {% endblock %}


    {% block script %}
    <script src="{% static 'js/funcionAgregarProducto.js' %}"></script>
    <script src="{% static 'js/confirmar.js' %}"></script>
    {% endblock %}
