{% extends "./base.html" %}
{% load static %}
{% block title %}Despachos{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}

{% block body %}
<body>
  <div class="carta">
    <h1>Carta de Despacho</h1>

    <div class="contenido">
      <h3>Sistema de Despacho</h3a >
      <p>Queremos informarle sobre nuestro eficiente sistema de despacho:</p>

      <ul>
        <li>Despacho rápido y seguro</li>
        <li>Rastreo en línea de los envíos</li>
        <li>Notificaciones por SMS y correo electrónico</li>
        <li>Personal altamente capacitado</li>
      </ul>

      <p>Estamos comprometidos en brindarle una experiencia de despacho excepcional.</p>
    </div>
    <div class="typewriter">
      <div class="slide"><i></i></div>
      <div class="paper"></div>
      <div class="keyboard"></div>
  </div>
  </div>
  <div class="form-container">
    <h1>Agendamiento de Entrega</h1>
    <form>
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" id="name" class="input-subs" placeholder="Ingrese su nombre" required>
      </div>
      <div class="form-group">
        <label for="address">Dirección:</label>
        <input type="text" id="address" class="input-subs" placeholder="Ingrese su dirección" required>
      </div>
      <div class="form-group">
        <label for="date">Fecha de Entrega:</label>
        <input type="date" id="date" class="input-subs" required>
      </div>
      <div class="form-group">
        <label for="time">Hora de Entrega:</label>
        <input type="time" id="time" class="input-subs" required>
      </div>
      <div class="form-group">
        <label for="pedido">Número de pedido:</label>
        <input type="text" id="pedido" name="pedido" required>
      </div>
      <div class="form-group">
        <button type="submit" class="input-subs">Agendar Entrega</button>
      </div>
    </form>
  </div>

  {% endblock %}
      
